.wrapper-class {
	padding: 1rem;
	border: 1px solid #ccc;
}
.editor-class {
	background-color: white;
	padding: 10px;
	height: 550px;
	border: 1px solid #eee;
	border-radius: 5px;
}
.toolbar-class {
	border: 1px solid #eee;
	border-radius: 5px;
}

.rdw-dropdown-wrapper {
	height: 30px;
	width: 30px;
}

.rdw-option-wrapper {
	height: 30px;
	width: 30px;
}

.rdw-dropdown-wrapper a {
	color: #333;
	text-decoration: none;
}

.rdw-dropdown-wrapper[class*='dropdown'] {
	width: 110px;
}

.public-DraftStyleDefault-block {
	margin-top: 0;
	margin-bottom: 0.7em;
}
